* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 50px 0;
  background-color: bisque;
}

.container {
  height: auto;
  width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  font-size: 24px;
  color: #111111;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

.header h1 {
  margin-bottom: 20px;
}

.new_task {
  position: relative;
  width: max-content;
  height: 150px;
  display: flex;
  justify-content: left;
  padding: 50px 150px;
  background-color: antiquewhite;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
}

.new_task input {
  position: relative;
  /* float: left; */
  width: 360px;
  height: 45px;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  color: #111111;
  border-radius: 5px;
  border: 2px solid #d1d3d4;
}

.new_task input:focus {
  outline: none;
  border-color: cadetblue;
}

.new_task button {
  position: absolute;
  float: right;
  height: 45px;
  width: 75px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #111111;
  background: cadetblue;
  border-radius: 5px;
  border: none;
  outline: none;
  opacity: 0.75;
  transition: 0.3s;
  cursor: pointer;
}

.new_task button:hover {
  opacity: 1;
  background-color: cadetblue;
}

.buttons {
  position: absolute;
  height: 48px;
  width: 75px;
  right: 510px;
  margin-right: 8px;
  padding: 0;
}

.buttons button {
  height: 19px;
  width: 75px;
  font-weight: 500;
  font-size: 12px;
  margin: 2px 0;
  color: #111111;
  border-radius: 5px;
  border: none;
}

#refresh_btn {
  position: relative;
  background-color: dodgerblue;
}

#remove_all_btn {
  position: relative;
  background-color: crimson;
}

.tasks {
  position: relative;
  height: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.task {
  position: relative;
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  font-size: 22px;
  background-color: antiquewhite;
  border-radius: 5px;
  border-bottom: 2px solid #d1d3d4;
} 

.task div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task button {
  left: 158px;
}

.text {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

.text_done {
  color: green;
  text-decoration: line-through;
}

#done_btn {
  position: relative;
  height: 22px;
  width: 90px;
  margin: 2px;
  padding: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #111111;
  border-radius: 5px;
  font-size: 12px;
  border: none;
  outline: none;
  opacity: 0.75;
  transition: 0.3s;
  cursor: pointer;
  background-color: green;
}

#done_btn:hover {
  opacity: 1;
  background-color: green;
}

#remove_item_btn {
  position: relative;
  height: 22px;
  width: 90px;
  margin: 2px;
  padding: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #111111;
  border-radius: 5px;
  font-size: 12px;
  border: none;
  outline: none;
  opacity: 0.75;
  transition: 0.3s;
  cursor: pointer;
  background-color: crimson;
}
 #remove_item_btn:hover {
  opacity: 1;
  background-color: crimson;
 }